#output, #citationOutput,#risOutput {
    border: 3px solid black;
    cursor: pointer;
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    width: 50%;
    font-size: 12pt;
}
#output.collapsed, #citationOutput.collapsed {
    height: 200px;
}

.datagrid {
    border: 3px solid black;
}
.header {
    border: 1px solid red;
    font-weight: bold;
}
.assignedstudy-row {
    background-color: #ffe4b5;
}
.assignedstudy-row > td {
    border: 5px solid black;
}
.button {
    border: 1px solid black;
}
.info {
    border: 1px solid #00008b;
}
.assignedstudyfield {
    background-color: #ffd700;
    border: 2px solid red;
}
.assignedstudyfield label {
    color: red;
    font-weight: bold;
}
.largetext {
    /*font-size: 14pt;*/
}
table { border-collapse: collapse;}
table tr td {
    border: 1px solid goldenrod;
}